.check {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.job-item {
    display: block;
    padding: 0 4px;
    height: 28px;
    outline: none;
    width: 100%;
    border: none;
    border-radius: 4px;
}

.todo {
    display: flex;
    margin-bottom: 4px;
    justify-content: space-between;
}

.input {
    display: flex;
    width: 84%;
    align-items: center;
}

.after-input {
    position: relative;
    display: flex;
    align-items: center;
}

//menu
.menu {
    display: flex;
    align-items: center;
}

.option {
    position: absolute;
    padding: 4px 0;
    background-color: #fff;
    border-radius: 4px;
    right: 20px;
    top: -12px;
    z-index: 1;
    box-shadow: 1px 2px 5px #333;
}

.icon-menu {
    padding: 4px 8px;

    &:hover {
        cursor: pointer;
    }
}

.cover-menu {
    position: absolute;
    width: 20px;
    height: 24px;
    background-color: transparent;
    top: 0;

    &:hover {
        cursor: pointer;
    }
}

.btn-delete {
    border: none;
    background-color: #fff;
    display: flex;

    &:hover {
        cursor: pointer;
        background-color: rgb(210, 209, 209);
    }

    &:hover .title-btn-delete {
        display: inline;
    }
}

.icon-trash {
    padding: 4px 8px;
    font-size: 1.4rem;
    transform: translateY(-15%);
}

.btn-edit {
    display: flex;
    border: none;
    background-color: #fff;
    font-size: 1.3rem;
    padding: 4px 8px;
    margin-right: 0;
    padding-bottom: 8px;

    &:hover {
        cursor: pointer;
        background-color: rgb(210, 209, 209);
    }

    &:hover .title-btn-edit {
        display: inline;
    }
}

.btn-delete {
    display: flex;
    padding-top: 6px;
}

.title-btn-delete {
    display: none;
    padding-right: 6px;
}

.title-btn-edit {
    display: none;
    padding-right: 12px;
}

.icon-save {
    padding: 4px 8px;

    &:hover {
        cursor: pointer;
        background-color: rgb(210, 209, 209);
    }
}
