.wrapper {
    position: relative;
}

//action add
.action-add {
    display: flex;
    height: 32px;
}

.input-add {
    min-width: 72%;
    padding: 0 8px;
    border: none;
    border-radius: 3px;
    margin-right: 1px;
    outline: none;
}

.select-priority {
    position: relative;

    &:focus ~ .list-priority {
        display: block;
    }
}

.input-select {
    height: 32px;
    width: 112px;
    outline: none;
    border: none;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
    }
}

.btn-select {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    text-align: left;
    padding-left: 12px;

    &:hover {
        cursor: pointer;
    }
}

.icon-down {
    position: absolute;
    left: 88px;
    top: 6px;

    &:hover {
        cursor: pointer;
    }
}

.cover-input-select {
    position: absolute;
    background-color: transparent;
    width: 112px;
    height: 32px;
    left: 0;
    top: 0;

    &:hover {
        cursor: pointer;
    }
}

.btn {
    width: 8%;
    border: none;
    border-radius: 3px;
    margin-left: 1px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.list-priority {
    position: absolute;
    left: 0px;
    top: -100px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 3px;
}

.btn-priority-item {
    width: 112px;
    padding: 8px 12px;
    display: block;
    border: none;
    background-color: #fff;
    text-align: left;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        background-color: #f5f5f5;
    }

    &:focus-within {
        background-color: #e6f7ff;
    }
}
